// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Colors


$color-red: rgb(235, 27, 27);
$color-green: rgb(20, 148, 20);
$color-orange: #E54B4B;
$color-orange-darker: #c24040;
$color-purple: #45457B;
$color-purple-darker: #383864;