  /* Button */

    button.button{
    display: block;
    background-color:$color-orange;
    border:0;
    padding:15px 10px;
    color:#ffffff;
    border-radius:10px;

    &:hover{
      cursor: pointer;
      background-color:$color-red;
    }

    &[disabled="true"],&[disabled]{
      background-color:rgb(134, 134, 134);
      cursor: default;
    }

  }
  
  /* Input */
  
  input.input{
    border:0;
    border-radius:10px;
    font-size: 17px;
    padding:15px;
    box-sizing: border-box;

    &:focus{
      outline:none;
    }

  }

  /* Navbar */

  .navbar{
    background-color:$color-purple;
    min-height: 60px;

    ul{

      margin:0;
      padding:0;
      list-style-type: none;

      >li{

        line-height: 60px;
        display: inline;
        padding-right: 15px;

        >a{

          color:#ffffff;
          text-decoration: none;
          
        }

      }

    }

  }

.alert{
  background-color:$color-purple-darker;
  padding:15px 20px;
  color:#ffffff;
  border-radius:10px;

  &.alert--error{
    border-left: 2px solid $color-red;
  }

  &.alert--success{
    border-left: 2px solid $color-green;
  }

}